doctype html
html(lang="en")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Hipster Domain Finder
    link(href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet')
    link(href='/index/index.css' rel='stylesheet')
    link(href='/resources/hipster.png' rel='icon')
  body
    a(href='https://github.com/bramgg/hipster-domain-finder')
      img(style='position: absolute; top: 0; right: 0; border: 0;' src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67' alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
    .header
      a(href='/')
        img(src='/resources/hipster.png')
    .subtitle
      | Find OG domain hacks with Hipster Domain Finder.
      br
      | Made with obscurity by 
      a(href='http://www.bram.gg') Bram Hoskin
      | .
      br
      | Updated every 24 hours.
      noscript
        br
        br
        | Don't like JavaScript? 
        a(href='https://github.com/bramgg/hipster-domain-finder/issues/10')
          | Help build non-JS support
        | .
    .filter
      label
      - var currentTld = (paginationPrefix.split('/').length > 2) ? paginationPrefix.split('/')[2] : null;
        span Filter by TLD:
        select(name='filterTLD')
          option
          each tld in tlds
            - var select=null; if (tld == currentTld) select='selected';
            option(selected=select)= tld
    .list
      - for (var i = 0; i < domains.length; i += 3) {
        - if(i != 0 && i % 12 == 0) {
          .sep
        - }
        .row
          a(href='?d=' + domains[i].name)
            .domain=domains[i].name

          - if(domains.length > i + 1) {
            a(href='?d=' + domains[i+1].name)
              .domain=domains[i+1].name
          - }

          - if(domains.length > i + 2) {
            a(href='?d=' + domains[i+2].name)
              .domain=domains[i+2].name
          - }
      - }
    .page
      - var prev = parseInt(page, 10) - 1
      - var next = parseInt(page, 10) + 1

      - if(page > 1) {
        a(href=paginationPrefix + '/p/' + prev) prev
      - }
      - else {
        a.dull prev
      - }

      .num=page

      - if(domains.length == 60) {
        a(href=paginationPrefix + '/p/' + next) next
      - }
      - else {
        a.dull no more :(
      - }
    .footer
      a(href='http://www.gandi.net')
        | Proudly made using 
        span Gandi
        | 's API

    .info-bg
    .info
      .domain.title
      .content
        div.list
          | Buy: 
          a.reg.gandi(href='#' data-reg='gandi') Gandi
          a.reg.iwantmyname(href='#' data-reg='iwantmyname') iWantMyName
          a.reg.onezeroone(href='#' data-reg='onezeroone') 101domain
        br
        | Tweet about this domain:
        br
        form.tweet(action='https://twitter.com/intent/tweet' method='get' target='_blank')
          img(src='/resources/new.png').new-tweet
          input.text(type='text' name='text')
          input(type='hidden' name='url' value='http://www.hipsterdomainfinder.com')
          input(type='submit' value='tweet')
        .mailing
          a(href='http://www.bram.gg/mailing')
            | Join my mailing list 
          | and get notified when I make things.

    #registrars(style='display:none' data-registrars=registrars)
    script(src='/resources/jquery.min.js')
    script(src='/index/index.js')
